server:
  port: 8081
  servlet:
    context-path: /api
    session:
      cookie:
        name: JSESSIONID
        http-only: true
        same-site: lax
        secure: false
        max-age: 3600

spring:
  application:
    name: smart-subscription-app
